{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshops list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start</th>
                <th>End</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshop in workshops %}
            <tr>
                <td><a href="{{ path('workshop_show', { 'id': workshop.id }) }}">{{ workshop.id }}</a></td>
                <td>{% if workshop.start %}{{ workshop.start|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if workshop.end %}{{ workshop.end|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if workshop.title %}{{ workshop.title }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('workshop_show', { 'id': workshop.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('workshop_edit', { 'id': workshop.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workshop_new') }}">Create a new workshop</a>
        </li>
    </ul>
{% endblock %}
