{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/theme/assets/global/plugins/cubeportfolio/css/cubeportfolio.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('app_home') }}">Calendrier</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">{{ workshop.title }}</a>
                <i class="fa fa-circle"></i>
            </li>
        </ul>
    </div>

    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> {{ workshop.start|date('d-m-Y H:i')}} à {{ workshop.end|date('H:i')}}
        <small>{{ workshop.title }}</small>
    </h1>

    {% if workshop.users.contains(app.user) %}
        <div class="alert alert-info">
            <strong>Info!</strong> Vous êtes inscrits &nbsp;&nbsp;&nbsp;<a class='btn btn-submit red' href="{{ path('app_workshop_unregister', {'id': workshop.id}) }}">(Se désinscrire)</a>
        </div>
    {% else %}
        {% if workshop.users|length < workshop.peopleMax %}
            <a href="{{ path('app_workshop_register', {'id' : workshop.id, 'register': true}) }}" class="btn blue"> RESERVER UN SIEGE </a>
            Il reste {{ workshop.peopleMax - workshop.users|length }} place(s).
        {% else %}
            <div class="alert alert-warning">
                <strong>Complet!</strong> Cette séance est complète !
            </div>
        {% endif %}
    {% endif %}

    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <div class="portfolio-content portfolio-1">
        <div id="js-grid-juicy-projects" class="cbp">
            {% for user in workshop.users %}
            <div class="cbp-item">
                <div class="cbp-caption">
                    <div class="">
                        {% if user.image %}
                            <img src="{{ asset('uploads/' ~ user.image) }}" alt="">
                        {% else %}
                            <img src="https://i.pinimg.com/736x/56/bd/4a/56bd4a7c26beccf4a4b2c54d6aa13ca5--cat-art-illustrations.jpg" alt="">
                        {% endif %}
                    </div>
                </div>
                <div class="cbp-l-grid-projects-title uppercase text-center uppercase text-center">{{ user.username }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/theme/assets/global/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/app/theme/assets/pages/scripts/portfolio-1.min.js') }}" type="text/javascript"></script>
{% endblock %}
