{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshop</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshop.id }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{% if workshop.start %}{{ workshop.start|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{% if workshop.end %}{{ workshop.end|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{% if workshop.title %}{{ workshop.title }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workshop_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workshop_edit', { 'id': workshop.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
