{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="{{ path('app_home') }}">Calendrier</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <a href="#">Mon profil</a>
                <i class="fa fa-circle"></i>
            </li>
        </ul>
    </div>

    <!-- END PAGE BAR -->
    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title"> Mon profil
        <small>{{ app.user.username}}</small>
    </h1>


    <div class="row">
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <i class="icon-settings font-blue-sunglo"></i>
                    <span class="caption-subject bold uppercase"> Mon profil</span>
                </div>

                <div class="portlet-body form">
                    {% trans_default_domain 'FOSUserBundle' %}

                    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
                        {{ form_widget(form) }}
                        <div>
                            <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-submit" />
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    Image
                </div>

                <div class="portlet-body form">
                    {% if app.user.image %}
                        <img style="max-width: 300px; max-height: 300px;" src="{{ asset('uploads/' ~ app.user.image) }}" alt="">
                    {% else %}
                        <img style="max-width: 300px; max-height: 300px;" src="https://i.pinimg.com/736x/56/bd/4a/56bd4a7c26beccf4a4b2c54d6aa13ca5--cat-art-illustrations.jpg" alt="">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
