{% extends 'base_login.html.twig' %}
{% set body_class = 'login' %}

    {% block stylesheets %}
        {{ parent() }}
        <link href="{{ asset('bundles/app/theme/assets/pages/css/login-3.min.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}

{% block body %}
    <div class="content">
        <form class="login-form">
            <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        </form>
    </div>
    {% if targetUrl %}
        <p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}

{% endblock %}
