{% extends 'base_login.html.twig' %}
{% set body_class = 'login' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/theme/assets/pages/css/login-3.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/css/styles.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}
{% block body %}
    <div class="logo">
        <a href="index.html">
            <img src="{{ asset('bundles/app/img/fille.png') }}" alt="" />
        </a>
    </div>

<!-- BEGIN LOGIN -->
<div class="content" style="margin-bottom:30px;">
    <!-- BEGIN REGISTRATION FORM -->
    <form class="register-form" action="{{ path('fos_user_registration_register') }}" method="post" style="display: block;">
        <h3>Création de compte</h3>
        {{ form_widget(form)}}
        <div class="form-actions">
            <input type="submit" id="register-submit-btn" class="btn green pull-right" value="Soumettre" style="margin-bottom:15px;"></input>
            <div class="clearfix"></div>
        </div>
    </form>
    <!-- END REGISTRATION FORM -->
</div>
{% endblock %}
